$black: #000000;
$white: #ffffff;
$tundora: #424242;

// main colors
/* Blue & Red */
$red: #f03;
$catalina-blue: #09317c;
$dodger-blue: #518dff;

/* Yellow */
$candlelight: #f8cd1c;

/* Gray */
$wild-sand: #f7f7f7;
$dusty-gray: #9b9b9b;

$primary: $red;
$secondary: $catalina-blue;

$headings-color: $tundora;
