// Presidium
// ==========

.row__presidium {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.columns__presidium {
  flex: 0 1 231px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  margin-top: 10px;
  align-items: center;
  text-align: center;
}

.presidium__name {
  margin-bottom: 10px;
  margin-top: 10px;
}
